.game-board{
    margin: 25px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 25px;

}
.game-cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.game-cell.is-x{
    color: aqua;
}
.game-cell.is-o{
    color: rgb(255, 80, 80);
}
.game-reset{
    padding:  10px 20px;
    color: white;
    border: none;
    background: rgb(32, 162, 255);
    font-size: 16px;
    border-radius: 10px;
    margin: 25px;
    cursor: pointer;
}
.game-winner{
    padding: 25px;
    font-size: 20px;
    color: blueviolet;
}